<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/add" method="post" th:object="${product}">
    <label>
        product name
        <input type="text" th:field="*{name}">
    </label>
    <label>
        price
        <input type="number" th:field="*{price}">
    </label>
    <label>
        description
        <input type="text" th:field="*{description}">
    </label>
    <label>
        brand
        <input type="text" th:field="*{brand}">
    </label>
    <button type="submit">Add Product</button>
</form>

<footer th:replace="layout::footer"></footer>
</body>
</html>