<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head th:replace="/layout :: head(title='Blog List')"></head>
<body>
<header th:replace="layout::header"></header>
<p>
    <a class="btn btn-primary" th:href="@{/create}">Create new blog</a>
</p>
<p>
    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#saveCatModal"
       th:attr="onclick=|onCreateCatHandler()|">Create new category</a>
    <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#viewCategoriesModal">
        View category list
    </a>
</p>

<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>

<table id="blog">
    <thead>
    <tr>
        <th>STT</th>
        <th>Title</th>
        <th>Publish Date</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:attr="onclick=|window.location=@{/view/{id}(id=${blog.id})}|" th:each="blog,b : ${blogs}">
        <td th:text="${b.count}"></td>
        <td th:text="${blog.title}"></td>
        <td th:text="${blog.dateTimePublished}"></td>
        <td><a class="btn btn-primary" th:href="@{/edit/{id}(id=${blog.id})}">
            Edit
        </a></td>
        <td>
            <a type="button" th:attr="onclick=|onDeleteHandler('${blog.id}','${blog.title}')|" class="btn btn-danger"
               data-bs-toggle="modal" data-bs-target="#deleteModal">
                Delete
            </a>
        </td>
    </tr>
    </tbody>
</table>
<!--Delete modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/remove" method="post">
                <div class="modal-body">
                    <input type="hidden" name="action" value="delete">
                    <input type="hidden" name="idDelete" id="idDelete">
                    Do you want to delete blog with title <span id="nameDelete"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Category save modal-->
<div class="modal fade" id="saveCatModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="category-modal" method="post" th:object="${category}">
                <div class="modal-body">
                    <label for="title" class="form-label">New category name</label>
                    <input id="title" type="text" class="form-control" th:field="*{name}">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">Save</button>
                    <button class="btn btn-warning" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--View categories modal-->
<div class="modal fade" id="viewCategoriesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <table>
                <tr class="modal-body" th:each="category:${categories_list}">
                    <td th:text="${category.name}"></td>
                    <td><a class="btn btn-primary" th:attr="onclick=|onEditCatHandler('${category.id}')|">Edit</a></td>
                    <td><a class="btn btn-danger" th:href="@{/category/delete/{id}(id=${category.id})}">Delete</a></td>
                </tr>
            </table>
            <div class="modal-footer">
                <button class="btn btn-warning" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<h1 class="text-success" th:text="${message}"></h1>

<script>
    function onCreateCatHandler() {
        document.getElementById("category-modal").setAttribute("action", "/category/add");
    }

    function onDeleteHandler(id, name) {
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").innerHTML = name;
    }

    function onEditCatHandler(id) {
        name = prompt("Enter new name");
        location.href = "/category/update/" + id + "?name=" + name;
    }
</script>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>