<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head th:replace="/layout :: head(title='Blog List')"></head>
<body>
<header th:replace="layout::header"></header>
<p>
    <a class="btn btn-primary" th:href="@{/create}">Create new blog</a>
</p>

<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>

<table id="blog">
    <thead>
    <tr>
        <th>STT</th>
        <th>Title</th>
        <th>Publish Date</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blog,b : ${blogs}">
        <td th:text="${b.count}"></td>
        <td th:text="${blog.title}"></td>
        <td th:text="${blog.dateTimePublished}"></td>
        <td><a class="btn btn-primary" th:href="@{/edit/{id}(id=${blog.id})}">
            Edit
        </a></td>
        <td>
            <a type="button" th:attr="onclick=|onDeleteHandler('${blog.id}','${blog.title}')|" class="btn btn-danger"
               data-bs-toggle="modal" data-bs-target="#deleteModal">
                Delete
            </a>
        </td>
        <td><a class="btn btn-info text-light" th:href="@{/view/{id}(id=${blog.id})}">View</a></td>
    </tr>
    </tbody>
</table>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--            <div class="modal-header">-->
            <!--                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
            <!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
            <!--            </div>-->
            <form action="/remove" method="post">
                <div class="modal-body">
                    <input type="hidden" name="action" value="delete">
                    <input type="hidden" name="idDelete" id="idDelete">
                    Do you want to delete blog with title <span id="nameDelete"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<h1 class="text-success" th:text="${message}"></h1>

<script>
    function onDeleteHandler(id, name) {
        console.log("Modal clicked!");
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").innerHTML = name;
    }
</script>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>