<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/add" method="post">
    <label>
        id
        <input type="number" name="id">
    </label>
    <label>
        product name
        <input type="text" name="name">
    </label>
    <label>
        price
        <input type="number" name="price">
    </label>
    <label>
        description
        <input type="text" name="description">
    </label>
    <label>
        brand
        <input type="text" name="brand">
    </label>
</form>
</body>
</html>