<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Setting</title>
</head>
<body>
<h1>Setting</h1>
<form th:action="@{/setting}" th:method="post" th:object="${setting}">
    <label>
        Languages
        <select th:field="*{language}">
            <option th:each="lang,stat:${language_list}" th:text="${lang}" th:value="${lang}"></option>
        </select>
    </label>
    <br>
    <label>
        Page Size: Show
        <select th:field="*{pageSize}">
            <option th:each="page,stat:${page_list}" th:text="${page}" th:value="${page}"></option>
        </select>
        emails per page
    </label>
    <br>
    Spams filter:
    <label>
        <input type="checkbox" th:field="*{spamFilter}">
        Enable spams filter
    </label>
    <br>
    <label>
        Signature
        <input type="text" th:field="*{signature}">
    </label>
    <br>
    <button type="submit">Update</button>
    <button type="reset">Cancel</button>
</form>
</body>
</html>